.invisible {
    visibility : hidden;
}
.header {
    background : #2f3640;
    display: grid;
    grid-template-columns : 0fr 1fr 5fr 1fr 1fr;
    color: white;
    font-size : 25px;
    font-family : "monsterrat";
}
#home-btn {
    color : white;
    font-size : 2.5em;
}
#home_text {
    padding-top : 13px;
}
.search {
    padding-top : 10px;
}
.search-txt{
    font-size : 1.5em;
    background : black;
    color : white;
    border : none;
    border-radius : 20px;
}
#search-chk {
    display : none;
}
#search-bar {
    padding-top : 10px;
    text-align : center;
}
#search {
    font-size : 1.2em;
    padding-left : 10px;
    padding-top : 10px;
}
#eisc {
    font-size : 15em;
}
.img {
    min-width : 360px;
}
.floor-btn {
    text-align : center;
    background : #2f3640;
    border : none;
    width : 50px;
    padding : 8px;
    border-radius : 30px;
    color: white;
}
#floor1 {
    position : absolute;
    left : 280px;
    top : 190px;
}
#floor1-chk:checked ~ .floor-btn{
    background : red;
    transition : 0.5s;
}
#floor1-chk:checked ~ #floor1-status{
    left : -30%;
}
#floor2-chk:checked ~ #floor1-status{
    left : -30%;
}
#floor3-chk:checked ~ #floor1-status{
    left : -30%;
}
#floor4-chk:checked ~ #floor1-status{
    left : -30%;
}
#floor1-chk:checked ~ #floor-num-1{
    color : red;
}
#floor2-chk:checked ~ #floor-num-2{
    visibility : visible;
}
.floor-number{
    z-index : 1100;
    visibility: visible;
    position : absolute;
    left : 565px;
    top : 100px;
}
#floor2 {
    position : absolute;
    left : 280px;
    top : 150px;
}

#floor3 {
    position : absolute;
    left : 280px;
    top : 110px;
}

#floor4 {
    position : absolute;
    left : 280px;
    top : 70px;
}


.search-result{
    display : grid;
    grid-template-columns: 40% 70%;
}
.search-result-building  {
    padding-top : 100px;
    min-width : 200px;
}
.search-result-building-floor  {
    position: relative;
    text-align : left;
    min-width : 360px;
}
.extinguisher-icon {
    color : black;
    font-size : 2em;
    z-index : 990;
}
.extinguisher-icon:hover {
    color : green;
    transition : 0.3s;
}
.extinguisher-1 {
    position: absolute;
    top : 220px;
    left : 300px;
}
.extinguisher-2 {
    position: absolute;
    top :290px;
    left : 280px;
}
.extinguisher-3 {
    position: absolute;
    top : 350px;
    left : 355px;
}
#extinguisher-icon3:hover{
    color : red;
    transition : 0.3s
}
#problem {
    color : red;
}
#extinguisherchk-1:checked ~ .status-1 {
    visibility : visible;
}

.status-1 {
    background : #353b48;
    color : white;
    z-index : 10000;
}
#extinguisherchk-2:checked ~ .status-2 {
    visibility : visible;
}
.status-2 {
    background : #353b48;
    color : white;
    z-index : 10000;
}
#extinguisherchk-3:checked ~ .status-3 {
    visibility : visible;
}
.status-3 {
    background : #353b48;
    color : white;
    z-index : 10000;
}


@media(max-width: 550px){
    .header {
        grid-template-columns: 0fr 10fr 40fr;
    }
  
    .search-result{
        display : inline-block;
    }
    #floor1-status{
        position:relative;
        top : 0%;
        left: -100%;
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 20px;
        z-index : 102;
        transition: 0.5s;
    }

    .search-result-building{
        position:relative;
        left: -150%;
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 20px;
        z-index : 100;
        transition: 0.5s;
    }
    #search-chk:checked ~ .search-result-building{
        left: 0%;
    }
    .search-result-building-floor{
        position:fixed;
        top: 0;
        left: -150%;
        background : #2f3640;
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0 20px;
        z-index : 101;
        transition: 0.5s;
    }
}